<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <script th:src="@{/js/counterDishes.js}"></script>
    <meta charset="UTF-8">
    <title>Добавление блюда с ингредиентами</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<h3>Новый заказ</h3>
<form th:action="@{~/order/newOrder}" th:method="POST" th:object="${order}">
    <section class="products">
        <div class="products__body">
            <div class="product" th:each="dish:${dishes}">
                <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                    <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
                <p th:text="${dish.name}"></p>
                <div class="product__info">
                    <p class="product__text">Стоимость:</p>
                    <p class="product__price" th:text="${dish.price + ' бел.р'}"></p>
                    <input type="checkbox" class="checkbox" th:field="*{orderDishes}"
                           th:value="${dish.id}">
                    <!--                    <input type="number" th:field="*{orderDishes.countOfDishes}"  name="countOfDishes" id="countOfDishes">-->
                </div>
                <p th:each="orderDish:${orderDishes}">
                <input type="submit" th:field="*{orderDishes}"
                       th:value="${dish.id}" value="Добавить в корзину">
                    <input type="number" th:field="${orderDish.order}" th:value="${order.getId()}" id="order" name="order">
                </p>
            </div>
        </div>
    </section>
</form>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>

</html>