<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <!--    <script th:src="@{/js/counterDishes.js}"></script>-->
    <meta charset="UTF-8">
    <title>Добавление блюда с ингредиентами</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<h3>Новый заказ</h3>

<section class="products">
    <div class="products__body">
        <div class="product" th:each="dish:${dishes}">
            <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
            <p th:text="${dish.name}"></p>
            <div class="product__info">
                <!--                    th:each="orderDish, rowStat : *{orderDishes}"-->
                <p class="product__text">Стоимость:</p>
                <p class="product__price" th:text="${dish.price + ' бел.р'}"></p>
                <form class="product__form" th:action="@{~/order/newOrder}" th:method="POST" th:object="${order}">
                    <input type="number" class="product__countOfDishes" th:field="*{orderDishes[0].countOfDishes}"
                           id="countOfDishes" name="countOfDishes">
                    <input type="text" th:text="${dish.id}" class="product__id" th:value="${dish.id}" hidden>
                    <input th:field="*{orderDishes}" hidden>
                    <input type="hidden" class="order__id" th:field="*{orderDishes[0].order}" th:value="${order.id}"
                           id="order" name="order">
                    <input class="product__submit" name="submit" type="submit"
                           value="Добавить в корзину">
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>

<script>
    let formsProduct = document.querySelectorAll('.product__form');
    for(let formProduct of formsProduct){
        formProduct.onsubmit = (event) =>{
            event.preventDefault();
            id = event.target.querySelector('.product__id').value;
            countOfDishes = event.target.querySelector('.product__countOfDishes').value;

            orderDishDto = {
                'dish': id,
                'countOfDishes': countOfDishes,
            };

            JSON.stringify( orderDishDto);
            console.log( orderDishDto)
            let json = JSON.stringify(orderDishDto);
            let request = new XMLHttpRequest();
            request.open("POST", "/rest/order/newOrder1");
            request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200)
                    document.getElementById("output").innerHTML=request.responseText;
            }
            request.send(json);

            // fetch('/rest/order/newOrder1',{
            //     method: 'POST',
            //     headers: {
            //         Accept: "application/json",
            //         "Content-Type": "application/json"
            //     },
            //     body:  orderDishDto,
            // });
        }
    }
</script>
</html>