<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    <script th:src="@{/js/counterDishes.js}"></script>-->
    <meta charset="UTF-8">
    <title>Добавление блюда с ингредиентами</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<h3>Новый заказ</h3>

<section class="products">
    <div class="products__body">
        <div class="product" th:each="dish:${dishes}">
            <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
            <h3><p class="product__name" th:text="${dish.name}"></p></h3>
            <div class="product__info">
            <!--                    th:each="orderDish, rowStat : *{orderDishes}"-->
        </div>
        <form class="product__form" th:action="@{~/order/newOrder}" th:method="POST" th:object="${order}">
            <input type="number" class="product__countOfDishes quantity-num btn-secondary" id="countOfDishes"
                   name="countOfDishes"
                   value="1" min="0">
            <input type="hidden" class="product__id" th:value="${dish.id}" hidden>
            <input type="hidden" class="order__id" th:field="*{orderDishes[0].order}" th:value="${order.id}"
                   id="order" name="order">
            <button class="product__submit product__btn" name="submit" id="clickButton" onClick="changeValue()" type="submit"
            >Добавить в корзину
            </button>
            <p class="product__price" style="display: inline"  th:text="${dish.price}"></p>
        </form>
    </div>
    </div>
</section>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
<script src="/js/newOrder.js"></script>
<script src="/js/counter.js"></script>
<script>
    function changeValue() {
        var change = document.getElementById('clickButton');
        if (change.innerHTML == "on")
        {
            change.innerHTML = "off";
        }
        else {
            change.innerHTML = "on";
        }
    }
</script>
</body>

</html>