<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <script th:src="@{/js/counterDishes.js}"></script>
    <meta charset="UTF-8">
    <title>Добавление блюда с ингредиентами</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<h3>Новый заказ</h3>
    <section class="products">
        <div class="products__body">
            <div class="product" th:each="dish:${dishes}">
                <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                    <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
                <p th:text="${dish.name}"></p>
                <div class="product__info">
                    <p class="product__text">Стоимость:</p>
                    <p class="product__price" th:text="${dish.price + ' бел.р'}"></p>
<!--                    <input type="checkbox" class="checkbox" onclick="updateCount()" th:field="*{dish}"-->
<!--                           th:value="${dish.id}">-->
                </div>
                <form th:action="@{/order/newOrder}" th:method="POST" th:object="${userDish}">
                <button type="submit" th:field="*{dish}" th:value="${dish.id}" name="dish" onclick="updateCount()"
                        id="dish" class="product__btn">Добавить в корзину</button>
                <input type="number" th:field="*{countOfDishes}" name="countOfDishes" id="countOfDishes">
                </form>
            </div>

        </div>
    </section>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>

</html>