<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link th:href="@{/images/icon-close.svg}">
    <meta charset="UTF-8">
    <title>Заказ</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div class="container">
        <div th:insert="/viewhtml/header :: header"></div>
    </div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<form class="product__form" th:action="@{/order/userOrder}" th:method="POST" th:object="${order}">
<section class="products">
    <div class="products__body">
        <div class="product" th:each="orderDish:${order.getOrderDishes()}">
            <div th:each="dish:${orderDish.getDish()}">
                <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                    <img class="product__img" th:src="${dish.src}">
                </a>
                <p class="product__name" th:text="${dish.name}"></p>
                <div class="product__info">
                    <p class="product__text">Стоимость:</p>
                    <p class="product__price" th:text="${dish.price + ' бел.р'}"></p>
                    </br>
                    <input type="number" class="product__countOfDishes" th:value="${orderDish.countOfDishes}"
                           th:text="${orderDish.countOfDishes}" id="countOfDishes" name="countOfDishes"
                           value="1" min="1">
                </div>
<!--                <form th:method="POST" th:action="@{/order/{id}/delete(id = ${dish.getId()})} ">-->
                    <input type="submit" class="product__delete" value="Удалить">
<!--                </form>-->
            </div>
        </div>
    </div>
</section>
    <input type="hidden" th:value="${order.dateTimeOfBooking}"
           th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"
           name="dateTimeOfBooking" id="dateTimeOfBooking">
    <select th:field="*{status}" name="type" id="type" class="select" style="display: none">
        <option th:each="status : ${T(by.htp.netcracker.foodfactory.Helper.OrderStatus).FORMALIZED}"
                th:value="${status}"></option>
    </select>
    <p th:text="${order.price}" th:value="${order.price}"></p>
    <input type="submit" onclick="cleanLocalStorage();redirectToNewOrder()" on class="product__btn" value="Оформить заказ">
</form>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
<script src="/js/redirectToNewOrder.js"></script>
<script src="/js/order.js"></script>
<script src="/js/counterDishes.js"></script>
</body>
</html>