<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
    <link th:href="@{/images/icon-close.svg}">
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main">
    <article>
        <table class="table" >
            <h3>История заказов</h3>
            <tr>
                <td>Номер</td>
                <td>Дата и время</td>
                <td>Статус </td>
            </tr>
            <div th:each="orders:${orders}">
                <tr>
                    <td th:text="${orders.numberOfBooking}" id="numberOfBooking" name="numberOfBooking"></td>
                    <td th:text="${orders.dateTimeOfBooking}" id="dateTimeOfBooking" name="dateTimeOfBooking"></td>
                    <td>
                        <p th:if="${orders.status == 'DONE'}"  style="color: #00C851" >Подтверждён</p>
                        <p th:if="${orders.status == 'FORMALIZED'}" style="color: rgba(255,0,0,0.72)">Ждёт подтверждения</p>
                        <p th:if="${orders.status == 'CONSIDERED'}">Оформляется</p>
                    </td>
                </tr>
            </div>
        </table>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>