<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link th:href="@{/images/icon-close.svg}">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main">
    <article>
        <h3>Список заказов</h3>
        <table class="table">
            <tr>
                <td>Номер заказа</td>
                <td>Дата и время</td>
                <td>Статус</td>
                <td>Имя</td>
                <td>Фамилия</td>
            </tr>
            <div th:each="order:${orders}">
                <tr>
                    <td th:text="${order.numberOfBooking}" id="numberOfBooking"  name="numberOfBooking"></td>
                    <td th:text="${order.dateTimeOfBooking}" id="dateTimeOfBooking" name="dateTimeOfBooking"></td>
                    <td th:text="${order.user.getName()}" id="name" name="name"></td>
                    <td th:text="${order.status}" id="status" name="status"></td>
                    <td th:text="${order.user.getSurname()}" id="surname" name="surname"></td>
                    <form th:action="@{/order/{id}/confirmOrder(id = ${order.getId()})}" th:method="POST">
                        <td><input type="submit" value="Подтвердить заказ"></td>
                    </form>
                </tr>
            </div>
        </table>
        </div>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>