<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
    <link th:href="@{/images/icon-close.svg}">
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main">
    <article>
        <h3>Список заказов</h3>
        <table class="table">
            <tr>
                <td>Номер заказа</td>
                <td>Дата и время</td>
            </tr>
            <div th:each="order:${orders}">
                <form th:action="@{/order/confirmOrder}" th:method="POST" th:object="${order}">
                    <tr>
                        <td  th:text="${order.numberOfBooking}" id="numberOfBooking" name="numberOfBooking"></td>
                        <td  th:text="${order.dateTimeOfBooking}" id="dateTimeOfBooking" name="dateTimeOfBooking"> </td>
                    </tr>
                </form>
            </div>
        </table>
        </div>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>