<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
</head>
<body>
<div th:fragment="header">
    <header class="header_header">
        <div class="container_header">
            <nav_header>
                <a href="/menu/main" class="logo_header">
                    <img src="/images/Food4Upng.png" class="img">
                </a>
                <ul>
                    <li><a href="/menu/main" class="btn btn-primary">Главная</a></li>
                    <li><a href="/order/newOrder">
                        <input type="button" class="btn btn-primary" value="Меню">
                    </a></li>
                    <li><a href="/ingredients" class="btn btn-primary">Ингредиенты</a></li>
                    <li></li>
<!--                    <li><a th:href="@{/order/{id}/userOrders(id=${orders.getUser()})}"></a></li>-->
                    <li><a href="/order/orders"class="btn btn-primary">Заказы</a></li></li>
                    <li><a href="/user"class="btn btn-primary">Профиль </a></li>
                    <li><a class="btn btn-primary">Выйти</a></li>
                </ul>
            </nav_header>
        </div>
    </header>
</div>
</body>
</html>