<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:fragment="header">
    <header class="header_header">
        <div class="container_header">
            <nav_header>
                <a href="/menu/main" class="logo_header">
                    <img src="/images/Food4Upng.png" class="img">
                </a>
                <ul>
                    <li>1111111</li>
                    <li>2222222</li>
                    <li>3333333</li>
                    <li>4444444</li>
                    <li>5555555</li>
                    <li>6666666</li>
                    <li>7777777</li>
                    <li>8888888</li>
                </ul>
            </nav_header>
        </div>
    </header>
</div>
</body>
</html>