<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/button.css}">
    <script src="/js/logout.js"></script>
</head>
<body>
<div th:fragment="header">
    <header class="header_header">
        <div class="container_header">
            <nav_header>
                <a href="/main" class="logo_header">
                    <img src="/images/Food4Upng.png" class="img">
                </a>
                <ul>
                    <li><a href="/main" class="btn btn-primary">Главная</a></li>
                    <li><a href="/order/newOrder">
                        <input type="button" class="btn btn-primary" value="Меню">
                    </a>
                    </li>
                    <li></li>
                    <li><a th:href="@{~/user/profile}" class="btn btn-primary">Профиль</a>
                    </li>
                    <li>
                        <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                            <input type="submit" id="logout" onclick="return confirm('Вы уверены , что хотите выйти?')" sec:authorize="isAuthenticated()"
                                   class="btn btn-primary" value="Выйти">
                            <a th:href="@{~/login}" sec:authorize="isAnonymous()">
                                <button class="btn btn-primary" type="button">Войти
                                </button>
                            </a>
                        </form>
                    </li>
                    <li>
                        <a th:href="@{~/order/userOrder}" class="btn btn-primary">
                            <img src="/images/bucket.png" style="width: 30px ; height: 25px" >
                        </a>
                        <a id="clicks"></a>
                    </li>
                </ul>
            </nav_header>
        </div>
    </header>
</div>
</body>
</html>