<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title> Главная</title>
</head>
<body>
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<section>
    <div>
        <div  style="padding: 0%;
    margin: 0%;">
            <a>
                <div>
                    <img src="/images/big-pizza.jpg" style="height: 80vh; width: 100%; -webkit-filter: brightness(90%);
  filter: brightness(90%);">
                    <h1 class="main__h1">Food4U - сервис готовых блюд</h1>
                </div>
            </a>
        </div>
        <article>
                <strong><h2></h2></strong>
        </article>
    </div>
</section>
<h1 style="text-align: center"><strong>Три самых популярных блюда</strong></h1>
<section class="products">
    <div class="products__body">
        <div class="product" th:each="dish:${dishes}">
            <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
            <p class="product__name" th:text="${dish.name}"></p>
            <div class="product__info">
                <p class="product__text">Стоимость:</p>
                <p class="product__price" th:value="${dish.price}" th:text="${dish.price} + ' бел.р.'"></p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>

</html>