<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/authorization.css">
    <link rel="stylesheet" href="/static/css/block.css">
    <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="stylesheet" href="/static/nav/leftnav.css">
    <link rel="stylesheet" href="/static/nav/stylenav.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link th:href="@{/images/icon-close.svg}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <title> Главная</title>
</head>
<body>
<header>
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<article class="article-main">
    <header>
        <h1 class="header__title">Food4U</h1>
        <h2>Сервис готовых блюд</h2>
    </header>
    <section>
        <p style="text-align: center;">
            <a href="/user/registration" class="btn btn-secondary">Регистрация</a>
            <a href="/login" class="btn btn-secondary">Авторизация</a>
            <a href="/user" class="btn btn-secondary">Пользователи</a>
        </p>
    </section>

    <footer>
        <div th:insert="/viewhtml/footer :: footer"></div>
    </footer>
</article>
</body>

</html>