<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/authorization.css">
    <link rel="stylesheet" href="/static/css/block.css">
    <link rel="stylesheet" href="/static/css/registration.css">
    <link rel="stylesheet" href="/static/nav/leftnav.css">
    <link rel="stylesheet" href="/static/nav/stylenav.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link th:href="@{/images/icon-close.svg}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="nav">
<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <h2 class="logo">
        <a href="/menu/main">Food4U</a>
        <br/>
        <a>Быстро , вкусно!!!</a>
    </h2>
    <ul>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).MEAT})}">
                Мясное
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).GARNISH})}">
                Гарниры
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).SEAFOOD})}">
                Морепродукты
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).SOUP})}">
                Супы
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).SALAD})}">
                Салаты
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).BAKERY})}">
                Выпечка
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).DESERT})}">
                Десерты
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).DRINK})}">
                Напитки
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).SAUCE})}">
                Соусы
            </a>
        </li>
        <li>
            <a th:href="@{/menu/dishes/{type}(type=${T(by.htp.netcracker.foodfactory.Helper.Type).FAST_FOOD})}">
                Фастфуд
            </a>
        </li>
        <li>
            <a href=/admin sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-primary">Страница админа</a>
        </li>
    </ul>
</nav>
</body>
</html>