<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/popup/style.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
    <link th:href="@{/images/icon-close.svg}">
</head>
<body>
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<form action="/action_page.php">
    <main role="main">
        <article>
            <div class="container">
                <h1>Авторизация</h1>
                <p>Пожалуйста заполните форму для авторизации</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw" required>
                <hr>
                <div style="position: relative">
                    <button type="submit" class="registerbtn">Войти</button>
                </div>
            </div>

            <div class="container signin">
                <p>Вы еще не зарегистрированы? <a href="/user/registration">Регистрация</a>.</p>
            </div>
        </article>
    </main>
</form>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>