<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/popup/style.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
    <link th:href="@{/images/icon-close.svg}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<header>
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main">
    <article>
        <div>
            <hr>
            <table class="table">

                <tr>
                    <td>Имя</td>
                    <th>Фамилия</th>
                    <th>E-mail</th>
                    <th>Логин</th>
                    <th>Пол</th>
                </tr>
            <div th:each="user:${user}">
                <tr>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}">/td>
                    <td th:text="${user.sex}"></td>
                </tr>
            </div>
            </table>
            <p style="text-align: center">
            <a th:href="@{/user/edit/{id}(id = ${user.getId()})}">
                <button type="button" class="btn btn-secondary">Редактировать</button>
            </a>
            </p>
            <hr>
        </div>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>