<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/popup/style.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
    <link th:href="@{/images/icon-close.svg}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<header>
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<input type="checkbox" id="nav-toggle" hidden>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main">
    <article>
            <hr>
            <table class="table">
                <tr>
                    <td>Имя</td>
                    <th>Фамилия</th>
                    <th>E-mail</th>
                    <th>Логин</th>
                    <th>Пол</th>
                </tr>
                <div th:each="user:${users}">
                    <tr>
                        <td><a th:text="${user.name}" th:href="@{/user/edit/{id}(id=${user.getId()})}"></a></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.username}">/td>
                        <td>
                            <p th:if="${user.sex == 'MALE'}">Мужской</p>
                            <p th:if="${user.sex == 'FEMALE'}">Женский</p>
                        </td>
                    </tr>
                </div>
            </table>
            <hr>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>