<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/popup/style.css}">
    <link rel="stylesheet" th:href="@{/css/block.css}">
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/images/icon-close.svg}">

    <link th:href="@{/images/icon-close.svg}">
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<main role="main" style="margin-top:5% ">
    <form th:action="@{/ingredients/{id}/edit(id = ${ingredient.getId()})}" th:method="POST" th:object="${ingredient}">
        <label for="name">Введите название</label>
    <br/>
        <input type="text" th:field="*{name}" id="name" required>
        <br/>
        <label for="calories">Введите калории</label>
        <br/>
        <input type="number" th:field="*{calories}" id="calories" required>
        <br/>
        <label for="proteins">Введите белки</label>
        <br/>
        <input type="number" step="0.1" th:field="*{proteins}" id="proteins" required>
        <br/>
        <label for="fats">Введите жиры</label>
        <br/>
        <input type="number" step="0.1" th:field="*{fats}" id="fats" required>
        <br/>
        <label for="carbohydrates">Введите углеводы</label>
        <br/>
        <input type="number" step="0.1" th:field="*{carbohydrates}" id="carbohydrates" required>
        <br/>
        <input type="submit" class="btn btn-secondary" value="Изменить">
    </form>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>