<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ингредиент</title>
</head>
<body>
<h3>Ингредиент:</h3>
<a th:text="${ingredient.name} + ', ' +  ${ingredient.calories} + ' , ' + ${ingredient.weight} + ' , '
     + ${ingredient.proteins} + ' , ' + ${ingredient.fats} + ' , ' + ${ingredient.carbohydrates}"></a>
<br/>
<a th:href="@{/ingredients/{id}/edit(id = ${ingredient.getId()})}">
    <button type="button">Редактировать</button>
</a>
<form th:method="POST" th:action="@{/ingredients/{id}/delete(id = ${ingredient.getId()})}">
    <input type="submit" value="Удалить ингредиент">
</form>
</body>
</html>