<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>
<h3>Добавить ингредиент в блюдо!</h3>

<form th:action="@{/menu/newIngredient}" th:method="POST" th:object="${ingredient}">
    <label for="name">Введите название</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="calories">Введите калории</label>
    <input type="number" th:field="*{calories}" id="calories">
    <br/>
    <label for="weight">Введите вес</label>
    <input type="number" th:field="*{weight}" id="weight">
    <br/>
    <label for="proteins">Введите белки</label>
    <input type="number" step="0.1" th:field="*{proteins}" id="proteins">
    <br/>
    <label for="fats">Введите жиры</label>
    <input type="number" step="0.1" th:field="*{fats}" id="fats">
    <br/>
    <label for="carbohydrates">Введите углеводы</label>
    <input type="number" step="0.1" th:field="*{carbohydrates}" id="carbohydrates">
    <br/>
    <input type="submit" value="Создать">
</form>
</body>
</html>