.header_header {
    margin: 0px;
    position: sticky;
    top: 0px;
    height: auto;
    width: 100%;
    background: #16a085;
    border: 2px solid #16a085;
    z-index: 3;
}

.header_header ul{
    text-align: right;
    width: 70%;
    display: inline-block;
}

.header_header ul li{
    margin-right: 4.7%;
}

.container_header {
    padding: 0;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

.logo_header{
    margin-left: 11%;
    vertical-align: middle;
    display: inline-block;
}

.img {
    height: 80px;
    max-width: 120px;
}

.nav_header {
    vertical-align: auto;
    display: inline-block;
}
nav_header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav_header li {
    margin-left: 1em;
    display: inline-block; /*один из способов разместить элементы в строку*/
}
nav_header a {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    color:#f3fffd;
    text-decoration: none;
    line-height: 38px;
}


