*{
    box-sizing: border-box;
}
p{
    margin: 0;
}

body {
    box-sizing: border-box;
}

:root{
    --border-product: rgb(234, 218, 73);
    /*--background-product-active: rgba(39, 57, 150, 0.17);*/
    --shadow-product-avtive: rgb(72, 105, 97);
    --product-text: #333;
    --product-intBg: rgb(22, 160, 133);
    --product_intBorder: rgb(22, 160, 133);
}

.products{
    width: 100%;
    padding: 30px 5%;
}
.product{
    padding: 15px;
    border: 5px solid rgb(22, 160, 133);
    margin-bottom: 50px;
    font-weight: 700;
    transition-duration: 0.2s;
    color: var(--product-text);
    border-radius: 40px;
    font-size: 24px;
}
.product:hover{
    transform: scale(1.04);
    /*background-color: var(--background-product-active);*/
    box-shadow: 0px 0px 20px var(--shadow-product-avtive);
}
.product__btn {
    padding: 10px 25px;
    border: 2px solid #16a085;
    border-radius: 10em;
    transition-duration: 0.2s;
    background-color: #16a085;
    color:white;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}
.product__btn:hover{
    color: #fff;
    /*background-color: rgba(22, 160, 133,0.6);*/
    box-shadow: 0px 0px 5px #16a085;
}
.product div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product__name{
    width: 250px;
}
.product__link {

}
.product__img {
    height: 200px;
    width: 272px;
}
.product__info {
    width: 35%;

}

.product__text {
    font: 1em 'Open Sans', sans-serif;
}
.product__price {

}
.product__countOfDishes {
    background-color: var(--product-intBg);
    box-shadow:1px 1px 1px 1px rgb(72, 105, 97) ;
    border-radius: 25px;
    text-align: center;
    height: 40px;
    width: 80px;
    color: #ffffff !important;
    border: 2px solid var(--border-product);
}
.product__delete{
    box-shadow:1px 1px 1px 1px rgb(72, 105, 97) ;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 25px;
    color: #ffffff !important;
    background-color: var(--product-intBg);
    border: 2px solid var(--border-product);
}

