<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <meta charset="UTF-8">
    <title>Блюда</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<h3>Меню</h3>

<main role="main">
    <article>
        <a href="/menu/newDish">
            <button type="button" sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-secondary">Добавить новое блюдо</button>
        </a>
        <h3>Список всех блюд</h3>
        <table class="table">
            <tr>
                <td>Название</td>
                <td>Тип</td>
                <td>Цена</td>

            </tr>
            <div th:each="dish:${dishes}">
                <tr>
                    <td>
                        <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}" th:text="${dish.name}"></a>
                    </td>
                    <td th:text="${dish.type}"></td>
                    <td th:text="${dish.price} ">/td>
                </tr>
            </div>
        </table>
        </div>
    </article>
</main>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
</body>
</html>