<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="icon" th:href="@{/images/favicon.ico}">
        <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
        <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/popup/style.css}">
        <link rel="stylesheet" th:href="@{/css/block.css}">
        <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
        <link th:href="@{/images/icon-close.svg}">
        <meta charset="UTF-8">
        <title>Блюда</title>

    </head>
    <body role="main" style="text-align: center">
        <header class="header_header">
            <div th:insert="/viewhtml/header :: header"></div>
        </header>
        <nav>
            <div th:insert="/viewhtml/nav :: nav"></div>
        </nav>
        <h3>Меню</h3>

        <div th:each="dish:${dishes}">
            <a th:href="@{/menu/{id}/dish(id=${dish.getId()})}"
               th:text="${dish.name}"></a>
        </div>
        <a href="/menu/newDish">
            <button type="button">Добавить новое блюдо</button>
        </a>
        <div>
            <!--            <a th:href="@{/menu/isAvailable}">-->
            <!--                <button type="button">Просмотреть блюда в наличии</button>-->
            <!--            </a>-->
        </div>
        <div>
            <a th:href="@{/ingredients}">
                <button type="button">Просмотреть ингредиенты</button>
            </a>
        </div>
        </div>

        <div class="container_block">
            <div class="row_block">
                <section class="market">
                    <div class="market__body">
                        <div class="market__info">
                            <button class="market__btn">Make order</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--        <section class="market">-->
        <!--            <div class="market__body">-->
        <!--                <div class="market__info">-->
        <!--                    <h1 class="market__title">The best shop ever</h1>-->
        <!--                    <p class="market__descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos placeat-->
        <!--                        tenetur, corrupti impedit est soluta. Sunt vitae pariatur quibusdam maxime, rem iure? Natus-->
        <!--                        iure-->
        <!--                        ipsam hic tempora, unde rerum labore!-->
        <!--                    </p>-->
        <!--                    <button class="market__btn">Make order</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->
        <div class="scroll-fix">
            <div class="market-modal-page" style="overflow-y: auto;">
                <div class="market-modal-page__body">
                    <div class="market-modal-page__top">
                        <p class="market-modal-page__title">Make order</p>
                        <img class="market-modal-page__icon-close" img src="/images/icon-close.svg"
                             alt="close">
                    </div>
                    <div th:each="dish:${dishes}" style="text-align: center;">
                        <h4>
                            <a th:href="@{/menu/{id}/dish(id=${dish.getId()})}"
                               th:text="${dish.name} + ':'"></a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div th:insert="/viewhtml/footer :: footer"></div>
        </footer>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var a =[# th:each="dish : ${dishes}"]
             [(${dish.name})]
                [/]
            console.log(a);
            /*]]>*/
        </script>
        <script>
            document.querySelector('.market__btn').onclick = function () {
                document.querySelector('.market-modal-page').classList.toggle('_active');
            }
            document.querySelector('.market-modal-page__icon-close').onclick = function () {
                document.querySelector('.market-modal-page').classList.toggle('_active');
            }
        </script>

    </body>
</html>