<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="icon" th:href="@{/images/favicon.ico}">
        <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
        <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/popup/style.css}">
        <link rel="stylesheet" th:href="@{/css/block.css}">
        <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
        <link th:href="@{/images/icon-close.svg}">
        <meta charset="UTF-8">
        <title>Блюдо</title>
    </head>
    <body>
        <header>
            <div th:insert="/viewhtml/header :: header"></div>
        </header>
        <input type="checkbox" id="nav-toggle" hidden>
        <nav class="nav">
            <label for="nav-toggle" class="nav-toggle" onclick></label>
            <h2 class="logo">
                <a href="/menu/main">Food4U</a>
            </h2>
            <ul>
                <li><a href="/menu/main">Главная</a>
                <li><a href="/menu/dishes">Меню</a>
                <li><a href="/ingredients">Ингредиенты</a>
            </ul>
        </nav>
        <h3>Подробная информация о блюде:</h3>
        <div th:each="dish:${dishes.getIngredients()}">
           <h4><a th:text="${dish.name} + ' , ' + ${dish.calories}"></a></h4>
        </div>
        <a th:href="@{/menu/{id}/edit(id = ${dishes.getId()})}">
            <button type="button">Редактировать</button>
        </a>
        <a href=/menu/newIngredient>
            <button type="button">Добавить ингредиент</button>
        </a>
        <form th:method="POST" th:action="@{/menu/{id}/delete(id = ${dishes.getId()}) }">
            <input type="submit" value="Удалить блюдо">
        </form>
        <footer>
            <div th:insert="/viewhtml/footer :: footer"></div>
        </footer>
    </body>
</html>