<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/popup/style.css}">
    <link rel="stylesheet" th:href="@{/css/dish.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <meta charset="UTF-8">
    <title>Блюдо</title>
</head>
<body>
<header class="header_header">
    <div class="container">
        <div th:insert="/viewhtml/header :: header"></div>
    </div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
</div>
<section class="dish__wrapper">
    <div class="container">
        <div class="dish" th:each="dish:${dishes}">
            <div class="dish__banner">
                <img class="dish__img" th:src="${dish.src}">
            </div>
            <div class="dish__info">
                <div class="dish__text">
                    <h2 class="dish__title" th:text="${dish.name}"></h2>
                    <div style="display: inline;">
                        <p class="product__name" style="display: inline">Ккал: </p>
                        <p style="display: inline" th:text="${dish.calories}"></p>
                    </div>
                    <div class="dish__ingredients">
                        <div style="display: inline;">
                            <p class="product__name" style="display: inline">Вес:</p>
                            <p style="display: inline" th:text="${dish.weight + ' г.'}"></p>
                        </div>
                        <p class="product__name">Состав:</p>
                        <div th:each="dish_ingredient:${dish.getDish_ingredients()}" style="display: inline">
                            <p th:each="ingredient:${dish_ingredient.getIngredient()}"
                               th:text="${ingredient.name + ', '}" style="display: inline"></p>
                        </div>
                    </div>
                    <div class="dish__footer">
                        <form class="product__form" th:action="@{~/order/newOrder}" th:method="POST"
                              th:object="${order}">
                            <input type="number" class="product__countOfDishes quantity-num btn-secondary"
                                   id="countOfDishes" name="countOfDishes"
                                   value="1" min="0">
                            <input type="hidden" class="product__id" th:value="${dish.id}" hidden>
                            <input type="hidden" class="order__id" th:field="*{orderDishes[0].order}"
                                   th:value="${order.id}"
                                   id="order" name="order">
                            <input class="product__submit dish__btn" name="submit" type="submit"
                                   value="Добавить в корзину">
                        </form>
                    </div>
                </div>
            </div>
            <form th:method="POST" th:action="@{/menu/{id}/delete(id = ${dishes.getId()})} ">
                <input sec:authorize="hasAnyRole('ROLE_ADMIN')" class="dish__btn" style="width: 100%" type="submit" value="Удалить блюдо">
            </form>
        </div>
<!--        <a th:href="@{/menu/{id}/edit(id = ${dishes.getId()})}">-->
<!--            <button sec:authorize="hasAnyRole('ROLE_ADMIN')" class="dish__btn"  style="width: 20%" type="button">Редактировать</button>-->
<!--        </a>-->
        <br/>
    </div>
</section>
</div>

<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>
<script src="/js/newOrder.js"></script>
</body>
</html>