<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <meta charset="UTF-8">
    <title>Блюда</title>
</head>

<body>
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>
<section class="products">
    <div class="products__body">
        <div class="product" th:each="dish:${dishes}">
            <a class="product__link" th:href="@{/menu/{id}/dish(id=${dish.getId()})}">
                <img class="product__img" th:src="${dish.src}" th:value="${dish.id}"></a>
            <p class="product__name" th:text="${dish.name}"></p>
            <div class="product__info">
                <p class="product__text">Стоимость:</p>
                <p class="product__price" th:text="${dish.price}"></p>
                <!--                    th:each="orderDish, rowStat : *{orderDishes}"-->
            </div>
            <form class="product__form" th:action="@{~/order/newOrder}" th:method="POST" th:object="${order}">
                <input type="number" class="product__countOfDishes quantity-num btn-secondary" id="countOfDishes"
                       name="countOfDishes"
                       value="1" min="1">
                <input type="hidden" class="product__id" th:value="${dish.id}" hidden>
                <input type="hidden" class="order__id" th:field="*{orderDishes[0].order}" th:value="${order.id}"
                       id="order" name="order">
                <button class="product__submit product__btn" name="submit" id="clickButton"
                        onclick="redirectToNewOrder()"
                        type="submit">Добавить в корзину
                </button>
            </form>
        </div>
    </div>
</section>
<script src="/js/newOrder.js"></script>
</body>

</html>