<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Просмотр блюда</title>
    </head>
    <body>
        <h3>Блюдо:</h3>
        <a th:text="${dish.name} + ', ' +  ${dish.type} + ' , ' + ${dish.price} + ' , '
     + ${dish.calories} + ' , ' + ${dish.isAvailable}"></a>
        <br/>
        <a th:href="@{/menu/{id}/edit(id = ${dish.getId()})}">
        <button type="button">Редактировать</button>
        </a>
        <form th:method="POST" th:action="@{/menu/{id}/delete(id = ${dish.getId()})}">
            <input type="submit" value="Удалить блюдо">
        </form>
    </body>
</html>