<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="icon" th:href="@{/images/favicon.ico}">
        <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
        <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/popup/style.css}">
        <link rel="stylesheet" th:href="@{/css/block.css}">
        <link rel="stylesheet" th:href="@{/css/select.css}">
        <link rel="stylesheet" th:href="@{/images/icon-close.svg}">
        <link th:href="@{/images/icon-close.svg}">
        <meta charset="UTF-8">
        <title>Редактирование</title>
    </head>
    <body role="main" style="text-align: center">
        <header>
            <div th:insert="/viewhtml/header :: header"></div>
        </header>
        <nav>
            <div th:insert="/viewhtml/nav :: nav"></div>
        </nav>

        <h3>Редактирование блюда</h3>
        <form th:action="@{/menu/{id}/edit/(id=${dish.getId()})}" th:method="POST" th:object="${dish}">
            <label for="name">Введите название</label>
            <br/>
            <input type="text" th:field="*{name}" id="name" class="add__btn" required>
            <br/>
            <label for="type">Введите тип</label>
            <br/>
            <select th:field="*{type}" name="TYPE" id="type" class="select">
                <option value="0">Выберите тип</option>
                <option th:each="dish : ${T(by.htp.netcracker.foodfactory.Helper.Type).values()}"
                        th:value="${dish}" th:text="${dish.displayValue}"></option>
            </select>
            <br/>
<!--            <div>-->
<!--                <select id="selectDishes" class="multi-select" name="selectDishes" th:field="*{ingredients}" multiple="multiple">-->
<!--                    <option th:each="ingredient:${ingredients}" th:value="${ingredient.id}"-->
<!--                            th:text="${ingredient.name}"></option>-->
<!--                </select>-->
<!--            </div>-->

            <br/>
            <label for="price">Введите цену</label>
            <br/>
            <input type="number" th:field="*{price}" id="price" class="add__btn" required>
            <br/>
            <label for="src">Путь картинки:</label>
            <br/>
            <input type="text" th:field="*{src}" id="src" class="add__btn" required>
            <br/>
            <input type="submit" value="Изменить">
        </form>
        <footer>
            <div th:insert="/viewhtml/footer :: footer"></div>
        </footer>
    </body>
</html>