<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/nav/stylenav.css}">
    <link rel="stylesheet" th:href="@{/nav/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <meta charset="UTF-8">
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        .add {
            border: 2px solid #000;
        }

        input {
            margin: 10px 0px;
        }

        .form-new-dish {
            border: 2px solid #000;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    </style>
    <title>Добавление блюда с ингредиентами</title>
</head>
<body role="main" style="text-align: center">
<header class="header_header">
    <div th:insert="/viewhtml/header :: header"></div>
</header>
<nav>
    <div th:insert="/viewhtml/nav :: nav"></div>
</nav>

<h3>Добавить новое блюдо</h3>
<form class="form-new-dish" th:action="@{/menu/newDish}" th:method="POST" th:object="${wrapper}" id="newDish">
    <div th:each="dishIngredient , itemStat : *{dishIngredientList}">
        <input type="text" th:field="*{dishIngredientList[__${itemStat.index}__].dish.name}" id="name" class="add__btn"
               name="name" required>
        <label>Введите тип</label>
        <br/>
        <select th:field="*{dishIngredientList[__${itemStat.index}__].dish.type}" name="type" id="type" class="select">
            <option value="0">Выберите тип</option>
            <option th:each="dish : ${T(by.htp.netcracker.foodfactory.Helper.Type).values()}"
                    th:value="${dish}" th:text="${dish.displayValue}">
            </option>
        </select>
        <h4 class="combo-label">Выберите ингредиенты</h4>
        <button class="addIngredient" type="button">Добавить ингредиент</button>
        <div class="create-ing">
            <select class="create-ing__select select" th:field="*{dishIngredientList[__${itemStat.index}__].ingredient}"  id="create-ing__select"   name="create-ing__select" multiple>
                <option th:each="ingredient:${ingredients}" th:value="${ingredient.id}"
                        th:text="${ingredient.name}"></option>
            </select>

            <input class="create-ing__weigth" type="text" th:field="*{dishIngredientList[__${itemStat.index}__].weight}" name="create-ing__weigth" required>
        </div>

        <label for="price">Введите цену</label>
        <input type="number" th:field="*{dishIngredientList[__${itemStat.index}__].dish.price}" id="price" class="add__btn" required>

        <label for="src">Введите путь к картинке</label>
        <input type="text" th:field="*{dishIngredientList[__${itemStat.index}__].dish.src}" id="src" name="src" class="add__btn">

        <input type="submit" value="Создать" class="btn btn-secondary" id="btn">
    </div>
</form>
<footer>
    <div th:insert="/viewhtml/footer :: footer"></div>
</footer>

<!--<script>-->
<!--    let form = document.querySelector('.form-new-dish');-->
<!--    form.onsubmit = (event) => {-->
<!--        event.preventDefault();-->

<!--        let formData = new FormData(form);-->

<!--        // delete useless data from create-ing-->
<!--        //formData.delete('ingredient');-->
<!--        formData.delete('create-ing__weigth');-->

<!--        for (let [name, value] of formData) {-->
<!--            console.log(name + ':' + value)-->
<!--        }-->

<!--        fetch('/menu/newDish', {-->
<!--            method: 'POST',-->
<!--            body: formData-->
<!--        });-->
<!--        alert('Блюдо добавлено')-->
<!--    }-->

<!--    const addIngredient = document.querySelector('.addIngredient');-->

<!--    addIngredient.onclick = (event) => {-->
<!--        event.preventDefault();-->
<!--        const createIng = document.querySelector('.create-ing');-->
<!--        const select = document.querySelector('.create-ing__select');-->
<!--        const selectClone = select.cloneNode(true);-->
<!--        const selectCloneValue = select.options[select.selectedIndex].value;-->
<!--        const weigth = document.querySelector('.create-ing__weigth');-->

<!--        if (weigth.value == '') {-->
<!--            alert('Введите вес продукта')-->
<!--        } else if (selectClone.options[selectClone.selectedIndex].value == 0) {-->
<!--            alert('Выберите тип ингредиента')-->
<!--        } else {-->

<!--            // create block ingredient-->
<!--            let divIng = document.createElement('div');-->
<!--            divIng.className = 'ingredient';-->

<!--            // create select of ingedients-->
<!--            let selectIng = selectClone;-->
<!--            selectIng.className = 'ingredient__select-ing';-->
<!--            selectIng.name = 'id';-->
<!--            selectIng.value = selectCloneValue;-->

<!--            // create input for weigth-->
<!--            let inputWeigth = document.createElement('input');-->
<!--            inputWeigth.className = 'ingredient__input-weigth';-->
<!--            inputWeigth.name = 'weigth';-->
<!--            inputWeigth.value = weigth.value;-->

<!--            // create del btn-->
<!--            let btnDel = document.createElement('button');-->
<!--            btnDel.textContent = 'Удалить ингредиент';-->
<!--            btnDel.className = 'ingredient__del';-->
<!--            btnDel.onclick = () => {-->
<!--                btnDel.parentNode.remove();-->
<!--            }-->

<!--            divIng.appendChild(selectIng);-->
<!--            divIng.appendChild(inputWeigth);-->
<!--            divIng.appendChild(btnDel);-->
<!--            createIng.after(divIng);-->
<!--        }-->


<!--    }-->

<!--</script>-->

</body>

</html>